  @import 'https://js.arcgis.com/4.28/@arcgis/core/assets/esri/themes/light/main.css';

  html {
    height: 100%;
  }

  body {
    background-color: #fff;
    color: black;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  /* =========== HEADER =========== */

  header {
    position: sticky;
    top: 0;
  }

  #header-content {
    background-color: #1c6da6;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
  }

  #logo-div {
    padding-left: 4px;
    width: 42px;
    flex-shrink: 0;
  }

  #logo-img {
    height: 40px;
  }

  #title-div {
    flex-grow: 1;
    flex-shrink: 0;
  }

  #title-div-main-title {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px;
    line-height: 25px;
  }

  #title-div-sub-title {
    line-height: 22px;
  }

  #subtitle-a {
    color: white;
    font-size: 13px;
    text-decoration: none;
    padding-left: 15px;
  }

  #version-div {
    justify-items: center;
    width: 150px;
    margin-right: 7px;
    color: white;
    font-size: 13px;
    text-decoration: none;
    padding-left: 15px;
  }

  /* =========== BODY =========== */

  .main-content-section-div {
    /* outline: 2px solid blue; */
  }

  .sub-content-section-div {
    /* outline: 1px dashed gray; */
  }

  #overview-and-screenshot-div {
    display: flex;
  }

  .main-content-header-section-text {
    font-weight: bold;
    font-size: 20px;
  }

  main {
    padding-top: 10px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
  }

  #main-content {
    margin: 2px;
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    display:flex;
    flex-direction: column;
    row-gap: 15px;
    column-gap: 30px;
    justify-self: center;
    align-self: top;
  }

  #overview-div {
    padding-right: 20px;
    align-self: flex-start;
  }

  #overview-text {
    line-height: 140%;
    padding-right: 20px;
    text-align: justify;
  }

  #note-text {
    line-height: 140%;
    padding-right: 15px; 
    text-align: justify;
  }

  #screenshot-and-button-div {
    text-align: center;
    align-items: center;
    align-self: flex-start;
  }

  #screenshot {
    border: 1px solid black;
    max-width: 250px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
  }

  #open-map-btn-div {
    padding: 10px;
  }

  #additional-resources-and-datafiles-div {
    margin-top: 5px;
    display: flex;
    align-self: flex-start;
  }

  #resources-divider {
    width: 50px;
  }

  #disseminated-div {
    align-self: flex-start;
    justify-content: flex-end;
  }

  .spacer {
    height: 15px;
    flex-grow: 1;
    flex-shrink: 0;
  }

  /* =========== footer =========== */

  footer {
    margin-top: auto;
    position: sticky;
    bottom: 0;
  }

  #footer-content{
    background-color: #15396c;
    color: #fff;
    padding: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
  }
