*.swp
/.vscode

# MODEL SECTION
# -------------

# the small lookup tables will be checked in
/model/input_data/ACS_2019
/model/input_data/state_shp_2016_simplified

/model/input_data_test
/model/input_data_test_1_small
/model/input_data_test_2_smaller
/model/input_data_test_2_smallest

/model/MapProj
/model/output_data
/model/_misc_and_old

# WEBAPP SECTION
# --------------
/webapp/.vscode
/webapp/node_modules
/webapp/fhwa_iit
/webapp/fhwa_iit-dev
*.local

/webapp/prep_layers/input
/webapp/prep_layers/output

/webapp/package-lock.json
