*.swp
/.vscode

# MODEL SECTION
# -------------

# the small lookup tables will be checked in
/model/input_data/ACS_2019
/model/input_data/state_shp_2016_simplified

/model/input_data_test
/model/input_data_test_1_small
/model/input_data_test_2_smaller
/model/input_data_test_2_smallest

/model/MapProj
/model/output_data
/model/_misc_and_old

# WEBAPP SECTION
# --------------
/webapp/node_modules
/webapp/dist*
/public/.vscode
/webapp/prep_layers/
/webapp/prep_layers/prep_layers_map/*
!/webapp/prep_layers/prep_layers_map/prep_layers_map.aprx
/webapp/prep_layers/_old/
/webapp/prep_layers/input/
/webapp/prep_layers/layer_to_distribute/
/webapp/prep_layers/output/
/webapp/build/
/webapp/src/config/apiKey.json
/webapp/gmb_notes.txt
/webapp/TTET_ECAT Documentation.docx
*.local
